$main_background_color: rgb(10,0,159);
$main_liner_background_color: linear-gradient(180deg, rgba(10,0,159,1) 0%, rgba(0,0,149,1) 34%, rgba(0,212,255,1) 100%);

$header_and_footer_background_color: rgb(39, 50, 72);
$header_and_footer_liner_background_color: linear-gradient(180deg, rgb(30, 39, 58) 100%);
$header_and_footer_border:1px solid rgb(212, 212, 212);

$button_background_color: rgb(10,0,159);
$button_liner_background_color: linear-gradient(10deg, rgba(10,0,159,1) 0%, rgba(0,0,149,1) 34%, rgba(0,212,255,1) 100%);

$button_text_color: white;
$button_hover_background_color: rgb(10,0,159);
$button_hover_liner_background_color: linear-gradient(90deg, rgba(10,0,159,1) 0%, rgba(0,0,149,1) 34%, rgba(0,212,255,1) 100%);

$loading_background_color: rgb(2,0,36);
$loading_liner_bakgroud_color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(76,79,103,1) 22%, rgba(166,175,185,1) 100%);

$display_box_background_color: rgba(1, 0, 27, 0.432);

$itemList_background_color: rgb(0,0,0);
$itemList_liner_background_color: linear-gradient(180deg, rgba(0,0,0,0.9556197478991597) 0%, rgba(141,146,152,0.8799894957983193) 100%);

$item_background_color: rgba(59, 59, 59, 0.999);

$item_background_color: rgba(59, 59, 59, 0.999);

//*text colors
$text_color: rgba(190, 190, 190, 0.846);
$main_text_color: white;