@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;800&family=Poppins:wght@200;300;400;500;900&display=swap');
@import "_colors";
@import "mixure.scss";
@import "header&footer.scss";
@import "home.scss";
@import "savedItem&myDishes.scss";
@import "createDish.scss";

#root {
  margin: 0;
  padding: 0;
  background: $main_background_color;
  background: $main_liner_background_color;
  box-sizing: border-box;
  color: $main_text_color;
}


.app{
  @include configWithHieight(100vw,100dvh);
  @include configFlex(center,center,column);
  // overflow-x: auto;
}
