.header, .footer{
    @include header_footer();
    @include configFlex(space-between);
    > span{
      padding: 0 1rem;
    }
    > div{
      @include configFlex();
      gap: 0.8rem;
      padding:0 0.8rem;
      >h2{
        color: $button_text_color;
        text-transform: uppercase;
        font-weight: 600;
      }
      >img{
       @include configWithHieight(45px,45px);
        border-radius: 50%;
      }
      > button{
        @include configButtonInput();
        color: $button_text_color;
        background: $button_background_color;
        background: $button_liner_background_color;
        transition: 2s;
        &:hover{
          background: $button_hover_background_color;
          background: $button_hover_liner_background_color;
        }
      }
    }
  }
  
  @media only screen and (max-width:500px) {
    .header,.footer{
      > div{
        gap: 0.5rem;
        >h2{
          font-size: 1rem;
        }
        > img{
          @include configWithHieight(35px,35px)
        }
        > button{
          font-size: 0.8rem;
        }
      }
    }
}