.items{
    @include configWithHieight(98%,80%);
    @include configFlex();
    > .item_list{
        @include configWithHieight(100%,90%);
        @include configFlex(start,center,column,1rem);
        background: $display_box_background_color;
        border:1px solid white ;
        border-radius: 20px;
        padding: 1rem 0;
        overflow-x: auto;
    > .no_item{
        @include configWithHieight();
        @include configFlex(center,center,column);
     > h1{
            color: $text_color;
        }
     > button{
        @include configButtonInput();
        margin-right: 1rem;
        color: $button_text_color;
        background: $button_background_color;
        background: $button_liner_background_color;
        transition: 2s;
        &:hover{
          background: $button_hover_background_color;
          background: $button_hover_liner_background_color;
        }

     }
     
    }

    > button{
        @include configButtonInput();
        margin-right: 1rem;
        color: $button_text_color;
        background: $button_background_color;
        background: $button_liner_background_color;
        transition: 2s;
        &:hover{
          background: $button_hover_background_color;
          background: $button_hover_liner_background_color;
        }
    }
        > .see_less{
            @include configWithHieight(95%,10%);
            @include configFlex(center,center,column);
            background: $itemList_background_color;
            border:1px solid white ;
            border-radius: 20px;
            .item_name{
                @include configWithHieight(100%,auto);
                @include configFlex(space-between,center,row);
                > h3{
                    text-transform: capitalize;
                    margin:0 1em;
                }
                > div{
                    > .see_btn{
                        @include configButtonInput();
                        margin: 1rem;
                        color: $button_text_color;
                        background: $button_background_color;
                        background: $button_liner_background_color;
                        transition: 2s;
                        &:hover{
                          background: $button_hover_background_color;
                          background: $button_hover_liner_background_color;
                        }
                    }
                    > .delete_btn{
                        @include configButtonInput();
                        margin-right: 1rem;
                        color: $button_text_color;
                        background: red;
                        transition: 1s;
                        &:hover{
                          background: rgb(200, 14, 14);
                        }
                    }
                }
            }
            .item_details{
                display: none;
            }
        }
        > .see_more{
            @include configWithHieight(95%,auto);
            @include configFlex(start,center,column);
            background: $itemList_background_color;
            border:1px solid white ;
            border-radius: 20px;
            .item_name{
                @include configWithHieight(100%,auto);
                @include configFlex(space-between,center,row);
                > h3{
                    text-transform: capitalize;
                    margin-left: 1rem;
                }
                > div{
                    transition: 1s;
                    > .see_btn{
                        @include configButtonInput();
                        margin: 1rem;
                        color: $button_text_color;
                        background: $button_background_color;
                        background: $button_liner_background_color;
                        transition: 2s;
                        &:hover{
                          background: $button_hover_background_color;
                          background: $button_hover_liner_background_color;
                        }
                    }
                    > .delete_btn{
                        @include configButtonInput();
                        margin-right: 1rem;
                        color: $button_text_color;
                        background: red;
                        transition: 1s;
                        &:hover{
                          background: rgb(200, 14, 14);
                        }
                    }
                }
            }

            .item_details{
                @include configFlex(start,center,row,1rem);
                flex-wrap: wrap;
                margin: 1rem;
                > div{
                    @include configFlex(start,center,column);
                    background: $item_background_color;
                    border: 1px solid white;
                    padding: 0.8rem;
                    border-radius: 20px;
                    gap: 0.5rem;
                    >h3{
                        margin: 0;
                    }
                    >p{
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:500px) {
    .items{
       > .item_list{
        > .see_less{
            > .item_name{
                > h3{
                  font-size: 1rem;
                  margin:0 0.5rem;
                }
    
                >div{
                    > button{
                        font-size: 0.8rem;
                        margin: 0.5rem 0;
                    }
                }
              }
            }
            > .see_more{
                > .item_name{
                    > h3{
                      font-size: 1rem;
                    }
                    >div{
                        > button{
                            font-size: 0.8rem;
                        }
                    }
                  }
                > .item_details{
                    width: 90%;
                    display: grid;
                    grid-template-columns: 1fr;
                }
             }
            > .no_item{
                > h1{
                    font-size: 1.5rem;
                }
                > p{
                    margin: 1rem;
                }
            }
        }
    }
}